.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

}
.titlePre {
  flex: 0 0 100%;
  font-size: 3rem;
  margin: 2rem 0 0 0;
}
.titleName {
  flex: 1;
  font-size: 2rem;
  font-weight: 900;
}

.titleForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: auto;
}
.formSelect {
  flex-basis: 100%;
  margin-bottom: 2rem;
}
.formSubmit {

}

@media (max-width: 600px) {
  
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
